body{
        margin:20px;
        padding: 20px;
        background-color: linear-gradient(rgba(10, 36, 96, 0.856)30%, rgba(57, 13, 78, 0.856)70%)
}
.back{
        display: flex;
        justify-content:center;
}
.box{
        border-radius: 15px;
        width: 300px;
        text-align: center;
        background-color: rgb(30, 163, 172);
}

.toDoList{
        font-size: 30px;
        font-weight: bold;
        color:rgb(126, 40, 136)
}

input{
        margin-right:15px;
        width:150px;
        height: 30px;
}

.add{
        border-radius: 50%;
        width:50px;
        height: 50px;
        border-style: none;
        box-shadow: rgb(214, 231, 232);

}
.add:hover{
       background-color: green;
       cursor: pointer;
        
}
ol{
        list-style:none;
        text-align: center;
        margin-right: 15px;
}
il{
        font-size: 20px;
        text-decoration-style: line;
}
button{
        border-radius: 50%;
        width: 40px;
        height: 40px;

}
button:hover{
        background-color: red;
}